$body-font: 'Poppins', sans-serif;
$title-font: 'Mulish', sans-serif;
$paragraph-font:  'Mulish', sans-serif;
$primary-color: #1087ff;
$secondary-color: #1087ff;

$bg-color: #f8faff;
$title-color: #2c3e50;
$text-color: hsla(229, 24%, 17%, 0.981);

$border-r: 1.5rem;

$gutter: 100px;

$sm-breakpoint: 480px;
$md-breakpoint: 767px;
$lg-breakpoint: 1050px;
$xl-breakpoint: 1216px;
$xx-breakpoint: 1400px;
